@page "/Pages/WeighterScope/Rashod/VvodRashod"
@inject IJSRuntime JS
@inject NavigationManager navManager



<input @ref="inputElement" placeholder="Press F1 inside this input" class="form-control" />

@code {
    private ElementReference inputElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("blazorKeyPress.addF1KeyListener", inputElement, DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public async Task OnF1KeyPressed()
    {
        // Handle the F1 key press event here
        await JS.InvokeVoidAsync("alert", "F1 key was pressed!");
    }
}




@* 
<h3>"/Pages/WeighterScope/Rashod/VvodRashod"</h3>
<div class="row justify-content-center create-form">
    <div class="col-md-12 col-xl-12 form-layout">
        <div class="close-button-section">
            <button class="btn btn-close" @onclick="ClosePage"></button>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" aria-label="Radio button for following text input">
                </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with radio button">
        </div>

    </div>
</div>

@code {


    #region ClosePage()
    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }
    #endregion
}
 *@