@page "/Pages/WeighterScope/VesySix/KorrVesySixPrihod"
@inject NavigationManager navManager


<h3>"/Pages/WeighterScope/VesySix/KorrVesySixPrihod"</h3>

@code {


    #region ClosePage()
    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }
    #endregion
}
