@page "/Pages/WeighterScope/VesySix/VvodVesySixPrixod"
@inject NavigationManager navManager


<h3>"/Pages/WeighterScope/VesySix/VvodVesySixPrixod"</h3>

<div class="row justify-content-center create-form">
    <div class="col-xl-8 col-lg-10 form-layout">
        <div class="close-button-section">
            <button class="btn btn-close" @onclick="ClosePage"></button>
        </div>



    </div>
</div>

@code {


    #region ClosePage()
    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }
    #endregion
}
