@page "/Pages/InputMany"

<form class="row form-horizontal">
    
    <div class="col-sm-4">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label">Дата взвешивания</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label">Дата взвешивания</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label">Дата взвешивания</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
    </div>

</form>

<form class="row form-horizontal">
    
    <div class="col-sm-4">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label">Время взвешивания</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label">Дата взвешивания</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label">Дата взвешивания</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
    </div>

</form>













@code {

}
