@page "/Pages/InputTwo"

<div class="container-fluid">

    <div class="row">

        <div class="col-md-4 position-relative" style="background-color: coral">
            
            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Дата взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4 position-relative" style="background-color: aquamarine">
            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Дата взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 position-relative" style="background-color: darkorchid">
            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Дата взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group row">
                    <label for="inputEmail3" class="col col-form-label">Время взвешивания</label>
                    <div class="col">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
            </div>
        </div>
            
        
    </div>

 
</div>