@page "/Pages/WeighterScope/Otvesnaya/ChugunOtvesnaya"
@inject NavigationManager navManager

<h3>"/Pages/WeighterScope/Otvesnaya/ChugunOtvesnaya"</h3>

@code {

    #region ClosePage()
    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }
    #endregion
}
